@{
    ViewData["Title"] = "Home Page";
}

    <div class="container-fluid" style="padding-top: 100px;">
        <h2>機能一覧</h2>
        <div class="form-group">
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10" style="padding-bottom:10px;">
                    <form class="form-horizontal" name="entry_form" action="/Books/Books" method="post">
                        <button type="submit" class="btn btn-success">今日の帳簿をつける</button>
                    </form>
                </div>
                <div class="col-sm-offset-4 col-sm-10" style="padding-bottom:10px;">
                    <form class="form-horizontal" name="entry_form" action="/Books/BooksList" method="post">
                        <button type="submit" class="btn btn-success">帳簿一覧</button>
                    </form>
                </div>
                <div class="col-sm-offset-4 col-sm-10" style="padding-bottom:10px;">
                    <form class="form-horizontal" name="entry_form" action="/Member/memberUpdate" method="post">
                        <button type="submit" class="btn btn-success">会員情報変更</button>
                    </form>
                </div>
                <div class="col-sm-offset-4 col-sm-10" style="padding-top:20px;">
                    <form class="form-horizontal" name="entry_form" action="/Home/Logout">
                        <button type="submit" class="btn btn-success">ログアウト</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
