

<div class="container-fluid" style="padding-top: 10px;">
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10" style="padding-bottom:10px;">
            <form class="form-horizontal" asp-controller="Home" asp-action ="Login" method="post">
                <button type="submit" class="btn btn-success">ログイン画面へ</button>
            </form>
    </div>
</div>