@{
    ViewData["Title"] = "Entry";
}
<script>

      const ExecuteValidatetionAfterSubmit = () => {
         const bookst_list = [
              $('input[name="userName"]'),
              $('input[name="password"]'),
              $('input[name="monthlyIncome"]'),
              $('input[name="savings"]'),
              $('input[name="fixedCost"]')
          ]

         const isError = Validation(bookst_list, false);

          if (!isError) {
              document.entry_form.submit();
          }
      } 

     const Validation = (bookst_list, isError) => {
        bookst_list.some(function (elem) {
            if (elem.val() == "") {
                alert(elem.attr('id') + "は必須項目です。");
                isError = true;
                return true;
            }
        });

        return isError;
     }

</script>
<div class="container-fluid" style="padding-top: 100px;">
    <h2>Entry</h2>
    <form class="form-horizontal" name="entry_form" asp-controller="Member" asp-action ="EntryConfirm" method="post">
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">userName</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id ="userName" name="userName" placeholder="userName" value="@Model.userName">
            </div>
        </div>
        <div class="form-group">
            <label for="Password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id ="password" name="password" placeholder="Password" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="月収" class="col-sm-2 control-label">月収</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id ="月収" name="monthlyIncome" placeholder="300000" value="@Model.monthlyIncome">
            </div>
        </div>
        <div class="form-group">
            <label for="目標貯金額(月)" class="col-sm-2 control-label">目標貯金額(月)</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="目標貯金額" name="savings" placeholder="50000" value="@Model.savings">
            </div>
        </div>
        <div class="form-group">
            <label for="固定費" class="col-sm-2 control-label">固定費</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="固定費" name="fixedCost" placeholder="50000" value="@Model.fixedCost">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="button" class="btn btn-success" onclick="ExecuteValidatetionAfterSubmit();">登録内容を確認する</button>
            </div>
        </div>
    </form>
</div>