
@{
    ViewData["Title"] = "EntryComplete";
}

<div class="container-fluid" style="padding-top: 100px;">
    <h2>EntryComplete</h2>
    <form class="form-horizontal" name="entry_form2" method="post">

        @{
            if (Model.isError)
            {
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" formaction="/Home/Login" class="btn btn-success">トップ画面に戻る</button>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    登録完了しました。
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" formaction="/Home/IndexOrLogin/" class="btn btn-success">機能一覧へ</button>
                    </div>
                </div>
            }

        }
    </form>
</div>