
@{
    ViewData["Title"] = "BooK";
}
    <script>
        
        $(document).ready(function () {
            var form = document.entry_form;
            var today = new Date();
            form.year.value = today.getFullYear();
            form.month.value = today.getMonth() + 1;
            form.day.value = today.getDate();
        });

        function ExecuteValidatetionAfterSubmit() {

            var bookst_list = [
              $('input[name="year"]'),
              $('input[name="month"]'),
              $('input[name="day"]'),
              $('input[name="amountUsed"]')
            ]
            
            var err_cnt = Validation(bookst_list, 0);
           

            if (err_cnt <= 0) {
                document.entry_form.submit();
            }
        } 

        function Validation(bookst_list, err_cnt) {
            bookst_list.forEach(function (elem) {
            if (elem.val() == "") {
               alert(elem.attr('id') + "は必須項目です。");
                err_cnt++;
            }
            else if (isNaN(elem.val())) {
               alert(elem.attr('id') + "は数字で入力してください。");
               err_cnt++;
                } 
            });

            return err_cnt;
        }

    </script>

    <div class="container-fluid" style="padding-top: 100px;">
        <h2>帳簿</h2>
        <div class="form-group">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10" style="padding-bottom:10px;">
                    <form class="form-horizontal" name="entry_form" asp-controller="Books" asp-action ="BooksRegisted" method="post">
                        <div>
                            <input type="text" class="form-control" id="年" name="year" value="" style="width:70px; display:inline">年
                            <input type="text" class="form-control" id="月" name="month" value="" style="width:50px; display:inline">月
                            <input type="text" class="form-control" id="日" name="day" value="" style="width:50px; display:inline;">日
                        </div>
                        <div class="col-sm-4" style="padding-top:30px;">
                            <b>あなたの1日の目安金額：@Model.currencyTypeAmountLimit 円</b>
                            <input type="text" class="form-control" id="支出額" name="amountUsed" placeholder="当日の支出額"><br>
                            <button type="button" class="btn btn-success" onclick="ExecuteValidatetionAfterSubmit();">帳簿をつける</button>
                        </div>
                        <input type="hidden" name="currencyTypeAmountLimit" value="@Model.currencyTypeAmountLimit">
                    </form>
                    <form class="form-horizontal" asp-controller="Home" asp-action ="IndexOrLogin" style="padding-top:50px;">
                        <button type="submit" class="btn btn-success">機能一覧へ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

