
@{
    ViewData["Title"] = "BooK";
}
    <script>
        
        $(document).ready(function () {
            var form = document.entry_form;
            var today = new Date();
            form.year.value = today.getFullYear();
            form.month.value = today.getMonth() + 1;
            form.day.value = today.getDate();
        });

        function ExecuteValidatetionAfterSubmit() {

            var bookst_list = [
              $('input[name="year"]').val(),
              $('input[name="month"]').val(),
              $('input[name="day"]').val(),
              $('input[name="amountUsed"]').val(),
            ]
            
            var err_cnt = GettingValueAfterValidate(bookst_list, 0);
           

            if (err_cnt <= 0) {
                document.entry_form.submit();
            }
        } 

        function GettingValueAfterValidate(bookst_list, err_cnt) {
            bookst_list.forEach(function (elem) {
            if (elem == "") {
               alert("空白の項目があります。");
                err_cnt++;
            }
            if (isNaN(elem)) {
               alert("数値以外が入力されています");
               err_cnt++;
                } 
            });

            return err_cnt;
        }

    </script>

    <div class="container-fluid" style="padding-top: 100px;">
        <h2>帳簿</h2>
        <div class="form-group">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10" style="padding-bottom:10px;">
                    <form class="form-horizontal" name="entry_form" action="/Books/BooksRegisted" method="post">
                        <div>
                            <input type="text" class="form-control" name="year" value="" style="width:70px; display:inline">年
                            <input type="text" class="form-control" name="month" value="" style="width:50px; display:inline">月
                            <input type="text" class="form-control" name="day" value="" style="width:50px; display:inline;">日
                        </div>
                        <div class="col-sm-4" style="padding-top:30px;">
                            <b>あなたの1日の目安金額：@Model.amountLimit 円</b>                            
                            <input type="text" class="form-control" name="amountUsed" placeholder="当日の支出額"><br />
                            <button type="button" class="btn btn-success" onclick="ExecuteValidatetionAfterSubmit();" name="submitBtn" value="1" style=display:inline>帳簿をつける</button>
                        </div>
                        <input type="hidden" name="amountLimit" value="@Model.amountLimit">
                    </form>
                </div>
            </div>
        </div>
    </div>

